.header {
  height: var(--header-height);
  margin-top: calc(var(--header-height) * -1);
  position: relative;
  z-index: z-index("header");

  .logo {
    @include position(absolute, 50%, auto, auto, desktop-vw(20px));
    @include dims(desktop-vw(140px));
    transform: translateY(-50%);
    transition: 400ms transform var(--ease-in-out-circ);
    transform-origin: center;

    @include hover {
      &:hover {
        transform: scale(1.025) translateY(-50%) rotate(-5deg);
      }
    }

    @include mobile {
      @include position(absolute, 50%, auto, auto, mobile-vw(8px));
      @include dims(mobile-vw(80px));
    }
  }

  .link {
    color: var(--theme-secondary);
  }
}
