.intro {
  padding-bottom: desktop-vw(200px);
  position: relative;

  @include mobile {
    margin-top: 10vw;
  }

  > h1 {
    > span {
      display: block;
      color: var(--white);
      font-size: desktop-vw(130px);
      font-family: var(--font-vanguard-cf);
      font-weight: 700;
      margin-bottom: desktop-vw(-10px);

      br {
        display: none;
      }

      @include mobile {
        font-size: 20vw;
        text-align: center;

        br {
          display: block;
        }
      }

      &:nth-child(1) {
        margin-right: desktop-vw(200px);

        @include mobile {
          margin: 0;
        }
      }

      &:nth-child(2) {
        margin-left: desktop-vw(200px);

        @include mobile {
          margin: 0;
        }
      }

      &:nth-child(3) {
        margin-top: -15px;
        margin-right: desktop-vw(100px);

        @include mobile {
          margin: 0;
        }
      }

      .love {
        display: inline-block;
        margin-right: desktop-vw(20px);
        position: relative;

        .black,
        .green {
          @include position(absolute, 50%, auto, auto, 50%);
          transform: translate(-50%, -50%);
        }

        .black {
          color: var(--black);
          margin-top: desktop-vw(4px);
          margin-left: desktop-vw(-8px);
          z-index: -1;

          @include mobile {
            margin-top: 2px;
            margin-left: -4px;
          }
        }

        .green {
          color: var(--isotonic-water);
          margin-top: desktop-vw(5px);
          margin-left: desktop-vw(-11px);
          z-index: -2;

          @include mobile {
            margin-top: 3px;
            margin-left: -6px;
          }
        }
      }
    }

    .italic {
      font-family: var(--font-ageya-oblique);
      font-weight: 100;
    }
  }

  .imgC {
    &.blob {
      @include position(absolute, desktop-vw(0px), 0, auto, auto);
      @include dims(desktop-vw(940px), auto);

      @include mobile {
        @include position(absolute, -10vw, -50vw, auto, auto);
        @include dims(150vw, auto);
      }
    }

    &.smile {
      @include position(absolute, -5%, 15%, auto, auto);
      @include dims(12vw);

      @include mobile {
        @include position(absolute, 25vw, auto, auto, 2vw);
        @include dims(20vw);
        transform: rotate(-10deg);
      }
    }
  }
}

.contactForm {
  background-color: var(--black);
  border: 2px solid var(--white);
  border-radius: desktop-vw(64px);
  margin: 0 desktop-vw(16px);
  margin-top: desktop-vw(150px);
  padding: desktop-vw(150px);
  position: relative;

  @include mobile {
    border-radius: mobile-vw(32px);
    margin: 0 mobile-vw(16px);
    margin-top: mobile-vw(225px);
    padding: mobile-vw(75px) mobile-vw(16px);
    padding-top: mobile-vw(150px);
  }

  .dropALine {
    @include position(absolute, desktop-vw(-180px), auto, auto, desktop-vw(80px));
    @include dims(desktop-vw(220px), auto);

    @include mobile {
      @include position(absolute, -200px, auto, auto, 50%);
      @include dims(65vw, auto);
      transform: translateX(-50%);
    }
  }

  .rowX {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: desktop-vw(50px);
    margin-bottom: desktop-vw(65px);

    @include mobile {
      align-items: center;
      flex-direction: column;
      justify-content: stretch;
      margin-bottom: mobile-vw(50px);
    }
  }

  .rowY {
    margin-bottom: desktop-vw(50px);

    @include mobile {
      margin-bottom: mobile-vw(50px);
    }
  }

  .text {
    color: var(--white);
    font-family: var(--font-vanguard-cf);
    font-size: desktop-vw(76px);
    font-weight: 700;
    flex-shrink: 0;

    br {
      display: none;

      @include mobile {
        display: block;
      }
    }

    @include mobile {
      font-size: mobile-vw(45px);
      line-height: 1.25;
      text-align: center;
    }
  }

  .inputC {
    @include dims(100%, desktop-vw(70px));
    flex-grow: 1;
    position: relative;

    @include mobile {
      @include dims(100%, 12vw);
      margin-top: 4vw;
    }

    &.textarea {
      @include dims(100%, desktop-vw(200px));

      @include mobile {
        @include dims(100%, mobile-vw(150px));
      }
    }

    input {
      display: flex;
      align-items: flex-end;
      @include dims(100%);
      background-color: transparent;
      color: var(--white);
      font-family: var(--font-visby-cf);
      font-size: desktop-vw(40px);
      font-weight: 800;
      text-align: center;
      position: relative;

      @include mobile {
        font-size: 7vw;
        min-height: 30px;
      }

      &:focus {
        &::placeholder {
          opacity: 0.3;
        }
      }

      &::placeholder {
        @include position(absolute, 50%, auto, auto, 50%);
        color: var(--jet);
        font-family: var(--font-vanguard-cf);
        font-weight: 700;
        font-size: desktop-vw(76px);
        opacity: 0.7;
        text-align: center;
        transition: 300ms all ease;
        transform: translate(-50%, calc(-50% + desktop-vw(-3px)));
        white-space: nowrap;

        @include mobile {
          font-size: mobile-vw(45px);
        }
      }
    }

    textarea {
      @include dims(100%);
      color: var(--white);
      font-family: var(--font-visby-cf);
      font-size: desktop-vw(30px);
      font-weight: 700;
      line-height: 1.5;
      resize: none;
      position: relative;
      white-space: pre-wrap;
      word-break: break-all;
      overflow-y: scroll;

      @include mobile {
        font-size: mobile-vw(20px);
      }

      &:focus {
        &::placeholder {
          opacity: 0.3;
        }
      }

      &::placeholder {
        @include position(absolute, desktop-vw(-30px), auto, auto, 0);
        color: var(--jet);
        font-family: var(--font-vanguard-cf);
        font-weight: 700;
        font-size: desktop-vw(76px);
        opacity: 0.7;
        text-align: left;
        transition: 300ms all ease;
        white-space: nowrap;

        @include mobile {
          @include position(absolute, desktop-vw(-30px), auto, auto, 50%);
          font-size: mobile-vw(45px);
          transform: translateX(-50%);
        }
      }
    }

    &::after {
      content: "";
      @include position(absolute, calc(100% + desktop-vw(5px)), 0, 0, 0);
      @include dims(100%, 1px);
      background-color: var(--jet);

      @include mobile {
        @include position(absolute, calc(100% + mobile-vw(5px)), 0, 0, 0);
      }
    }
  }

  .buttons {
    margin-top: desktop-vw(30px);

    @include mobile {
      margin-top: mobile-vw(30px);
    }

    .btn {
      @include dims(desktop-vw(200px), desktop-vw(40px));
      border: 1px solid var(--white);
      border-radius: desktop-vw(32px);

      @include mobile {
        @include dims(mobile-vw(200px), mobile-vw(40px));
        border-radius: mobile-vw(32px);
      }

      &.active {
        background-color: var(--isotonic-water);
        border: 1px solid var(--isotonic-water);

        > span {
          color: var(--black);
        }
      }

      @include hover {
        &:hover {
          background-color: var(--isotonic-water);
          border: 1px solid var(--isotonic-water);
          outline: none;

          > span {
            color: var(--black);
          }
        }
      }

      > span {
        color: var(--white);
        font-family: var(--font-vanguard-cf);
        font-size: desktop-vw(28px);
        font-weight: 400;
        transform: translateY(-0.2ch);

        @include mobile {
          font-size: mobile-vw(28px);
        }
      }
    }
  }

  .submitC {
    .acceptC {
      @include dims(desktop-vw(100px));
      border-radius: 50%;
      border: 1px solid var(--isotonic-water);
      position: relative;

      @include mobile {
        @include dims(30vw);
      }

      .imgC {
        opacity: 0.2;
        transition: 200ms all ease;
        transform: scale(0.8);
        transform-origin: center;
        user-select: none;
      }
    }

    .privacyText {
      color: var(--white);
      font-family: var(--font-visby-cf);
      font-size: desktop-vw(18px);
      font-weight: 400;

      @include mobile {
        font-size: mobile-vw(18px);
        text-align: center;
        line-height: 1.6;
      }

      .link {
        text-decoration: underline;
      }

      br {
        display: none;

        @include mobile {
          display: block;
        }
      }
    }

    .btn {
      &[disabled] {
        @include dims(desktop-vw(300px), desktop-vw(60px));
        opacity: 0;
      }
    }

    .submitBtn {
      @include dims(desktop-vw(300px), desktop-vw(50px));
      border: 1px solid var(--white);
      border-radius: desktop-vw(32px);
      opacity: 1;
      text-decoration: none;
      transition: 200ms all ease;

      > span {
        color: var(--white);
        font-size: desktop-vw(36px);
        font-family: var(--font-vanguard-cf);
        transform: translateY(-0.2ch);

        @include mobile {
          font-size: 24px;
        }
      }

      @include hover {
        &:hover {
          background-color: var(--isotonic-water);
          border: 1px solid var(--isotonic-water);

          > span {
            color: var(--black);
          }
        }
      }

      &[disabled] {
        @include dims(desktop-vw(300px), desktop-vw(60px));
        opacity: 0;
      }
    }

    .submitBtnMobile {
      transition: 200ms all ease;

      > span {
        color: var(--white);
        font-family: var(--font-vanguard-cf);
        font-size: mobile-vw(50px);
        transform: translateY(-0.25ch);
      }

      .iconC {
        @include dims(mobile-vw(20px));
        position: relative;

        &::before {
          content: "";
          @include position(absolute, 50%, auto, auto, 50%);
          @include dims(mobile-vw(50px));
          background-color: var(--isotonic-water);
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &[disabled] {
        opacity: 0;
      }
    }

    &.checked {
      .acceptC {
        .imgC {
          opacity: 1;
          transform: scale(0.95);
        }
      }
    }
  }
}

.privacyAndCookieModal {
  @include dims(80%, auto);
  color: var(--white);
  margin: desktop-vw(50px) auto;
  overflow-x: hidden;

  h5 {
    font-family: VisbyCF-DemiBold;
    font-size: 2rem;
    margin-bottom: 2vw;
  }

  p {
    font-family: VisbyCF-Regular;
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 1.5vw;
  }

  a {
    text-decoration: underline;
  }

  small {
    display: block;
    font-family: VisbyCF-Regular;
    font-style: italic;
    margin-top: 4rem;
  }
}

.contactSuccess {
  @include dims(40vw, 35vw);
  background-color: var(--white);
  border: 10px solid var(--isotonic-water);
  border-radius: 32px;
  padding: 0 6vw 1vw 6vw;
  position: relative;

  @include mobile {
    @include dims(90vw, auto);
    border: 3px solid var(--isotonic-water);
    padding: 0 0 4vw 0;
  }

  .welcomeAboard {
    @include dims(22vw, auto);
    margin-bottom: -5.5vw;
    z-index: 10;

    @include mobile {
      @include dims(50vw, auto);
      margin-bottom: -15vw;
    }
  }

  .title {
    color: var(--black);
    font-family: var(--font-vanguard-cf);
    font-size: 4vw;
    margin-bottom: 1vw;
    text-align: center;

    @include mobile {
      font-size: 10vw;
      margin-bottom: 4vw;
    }
  }

  .text {
    color: var(--black);
    font-family: VisbyCF-Medium;
    font-size: 1.5vw;
    margin-bottom: 2vw;
    text-align: center;

    @include mobile {
      font-size: 3.5vw;
      margin-bottom: 6vw;
    }
  }

  .doneButton {
    border: 1px solid #000;
    border-radius: 32px;
    color: var(--black);
    font-family: VanguardCF-Medium;
    font-size: 2.25vw;
    padding: 0.25rem 6rem 0.5rem 6rem;

    @include hover {
      &:hover {
        background-color: var(--isotonic-water);
      }
    }

    @include mobile {
      font-size: 7vw;
      padding: 0.15rem 4rem 0.25rem 4rem;
    }
  }
}

.contactSuccess {
  background-color: var(--white);
  border: 10px solid var(--isotonic-water);
  border-radius: 32px;
  margin-top: 10vw;
  padding: 0 3vw 1vw 3vw;
  position: relative;

  @include mobile {
    @include dims(90vw, auto);
    border: 3px solid var(--isotonic-water);
    padding: 0 8vw 4vw 8vw;
  }

  .welcomeAboard {
    @include dims(22vw, auto);
    margin-top: -5.5vw;
    padding-bottom: 7vw;
    z-index: 10;

    @include mobile {
      @include dims(50vw, auto);
      margin-top: -15vw;
      padding-bottom: 17vw;
    }
  }

  .title {
    color: var(--black);
    font-family: var(--font-vanguard-cf);
    font-size: 4vw;
    margin-bottom: 1vw;
    text-align: center;

    @include mobile {
      font-size: 10vw;
      margin-bottom: 4vw;
    }
  }

  .text {
    color: var(--black);
    font-family: VisbyCF-Medium;
    font-size: 1.5vw;
    margin-bottom: 2vw;
    text-align: center;

    @include mobile {
      font-size: 3.5vw;
      margin-bottom: 6vw;
    }
  }

  .doneButton {
    border: 1px solid #000;
    border-radius: 32px;
    color: var(--black);
    font-family: VanguardCF-Medium;
    font-size: 2.25vw;
    padding: 0.25rem 6rem 0.5rem 6rem;

    @include hover {
      &:hover {
        background-color: var(--isotonic-water);
      }
    }

    @include mobile {
      font-size: 7vw;
      padding: 0.15rem 4rem 0.25rem 4rem;
    }
  }
}
