.cursor {
  @include position(fixed, 0, auto, auto, 0);
  opacity: 0;
  pointer-events: none;
  transition: 100ms opacity ease;
  z-index: z-index("cursor");

  @include mobile {
    display: none;
  }

  &.visible {
    opacity: 1;
  }

  .c {
    @include position(absolute, 50%, auto, auto, 50%);
    @include dims(desktop-vw(16px));
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: 200ms all cubic-bezier(0.215, 0.61, 0.355, 1);

    > span {
      display: block;
      font-family: var(--font-helvetica-neue);
      font-size: desktop-vw(16px);
      font-weight: 400;
      opacity: 0;
      visibility: hidden;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    &.default {
      @include dims(desktop-vw(18px));
      background: var(--electric-energy);
    }

    &.click {
      @include dims(desktop-vw(56px));
      background: var(--electric-energy);
      color: var(--nightly-woods);
    }

    &.clickDark {
      @include dims(desktop-vw(56px));
      background: var(--nightly-woods);
      color: var(--electric-energy);
    }

    &.menu {
      @include dims(desktop-vw(18px));
      background: var(--nightly-woods);
    }
  }
}
