.teamMembers {
  border-bottom: 1px solid var(--jet);
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

  .progressBar {
    @include position(absolute, auto, 0, 0, 0);
    background: var(--isotonic-water);
    height: desktop-vw(12px);
    transform: scaleX(0);
    transform-origin: left center;
  }

  .keepScrolling {
    @include position(absolute, desktop-vw(-20px), auto, auto, 0);
    transform: translateX(-50%);

    .transform {
      transform-origin: center;
    }

    p {
      color: var(--white);
      font-family: var(--font-vanguard-cf);
      font-size: desktop-vw(150px);
      font-weight: 600;
      margin-right: desktop-vw(20px);
      // transform: skew(-10deg);
      white-space: nowrap;
      opacity: 0.1;
    }
  }

  .item {
    &.last {
      padding-right: desktop-vw(100px);
    }
    @include mobile {
      align-items: center;
    }
  }
}
