.cardWork {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.left {
    .transform {
      transform-origin: right center;
    }
  }

  &.right {
    .transform {
      transform-origin: left center;
    }
  }

  .transform {
    @include dims(100%);
    transform: scale(0.9);
    transform-origin: center;
  }

  .overflowC {
    @include dims(100%, desktop-vw(500px));
    border-radius: desktop-vw(20px);
    margin-bottom: desktop-vw(10px);
    overflow: hidden;

    @include mobile {
      @include dims(100%, mobile-vw(500px));
      border-radius: mobile-vw(16px);
    }
  }

  .mediaC {
    @include dims(100%);
    background: var(--kingly-cloud);
    position: relative;
    transform: scale(1.2);

    .award {
      @include position(absolute, auto, desktop-vw(8px), desktop-vw(8px), auto);
      @include dims(desktop-vw(150px), auto);
      border-radius: desktop-vw(16px);
      z-index: 10;
    }
  }

  .cardTitle {
    color: var(--black);
    font-family: var(--font-vanguard-cf);
    font-size: desktop-vw(50px);
    font-weight: 500;
    margin-bottom: desktop-vw(16px);
    text-align: left;
  }

  .cardTag {
    color: var(--black);
    font-family: var(--font-visby-cf);
    font-size: desktop-vw(14px);
    font-weight: 400;
    text-transform: uppercase;
  }

  .iconC {
    @include dims(desktop-vw(14px));
  }

  &.v2 {
    align-items: center;

    .overflowC {
      @include dims(100%, desktop-vw(300px));
      margin-bottom: desktop-vw(20px);

      @include mobile {
        @include dims(100%, mobile-vw(240px));
        margin-bottom: mobile-vw(20px);
      }
    }

    .cardTitle {
      font-family: var(--font-visby-cf);
      font-size: desktop-vw(25px);
      font-weight: 400;
      text-align: center;

      @include mobile {
        font-size: mobile-vw(25px);
      }
    }
  }
}
