.footer {
  background: var(--black);
}

.contact {
  padding: desktop-vw(50px);

  @include mobile {
    padding: mobile-vw(50px);
  }

  .sayHi {
    color: var(--white);
    font-family: var(--font-vanguard-cf);
    font-size: desktop-vw(32px);
    font-weight: 700;
    margin-bottom: desktop-vw(30px);

    @include mobile {
      font-size: 15vw;
    }
  }

  .addressTitle {
    color: var(--white);
    font-family: var(--font-visby-cf);
    font-size: desktop-vw(16px);
    font-weight: 600;
    margin-bottom: desktop-vw(20px);

    @include mobile {
      font-size: 5vw;
    }
  }

  .text {
    color: var(--palladium);
    font-family: var(--font-visby-cf);
    font-size: desktop-vw(18px);
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: desktop-vw(30px);

    @include mobile {
      text-align: center;
      font-size: 1rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10vw;
      width: 95%;

      br {
        display: none;
      }
    }
  }

  .textSm {
    color: var(--palladium);
    font-family: var(--font-visby-cf);
    font-size: desktop-vw(16px);
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: desktop-vw(50px);

    @include mobile {
      text-align: center;
      font-size: 15px;
      line-height: 36px;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .col {
    flex-shrink: 0;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15vw;
      justify-content: center;
      width: 100%;
      margin-bottom: 25vw;
    }

    &:nth-child(1) {
      margin-right: auto;
    }

    &:nth-child(2) {
      margin-right: desktop-vw(150px);
    }
  }

  .btn {
    @include dims(desktop-vw(170px), desktop-vw(35px));
    border-radius: desktop-vw(28px);
    border: 1px solid var(--palladium);
    color: var(--white);

    @include hover {
      &:hover {
        background-color: var(--isotonic-water);
        border: 1px solid var(--isotonic-water);
        color: var(--black);
      }
    }

    > span {
      font-family: var(--font-visby-cf);
      font-weight: 500;
      font-size: desktop-vw(16px);
      white-space: nowrap;
      text-align: center;
      transform: translateY(0.1ch);

      @include mobile {
        font-size: mobile-vw(16px);
      }
    }
  }

  .btnGetDirection {
    padding: desktop-vw(4px) desltop-vw(12px);

    @include hover {
      &:hover {
        .iconC {
          transform: rotate(45deg);
        }
      }
    }

    > span {
      color: var(--white);
      font-family: var(--font-visby-cf);
      font-size: desktop-vw(14px);
      font-weight: 500;
      transform: translateY(0.1ch);
      white-space: nowrap;
    }

    .iconC {
      @include dims(desktop-vw(12px));
    }
  }
}

.footerContact {
  margin-top: desktop-vw(75px);
  padding: desktop-vw(50px);

  @include mobile {
    padding: mobile-vw(50px);
  }

  .col {
    flex-shrink: 0;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15vw;
      justify-content: center;
      width: 100%;
      margin-bottom: 25vw;
    }

    &:nth-child(2) {
      margin-left: desktop-vw(100px);
      margin-right: auto;
    }

    > h5 {
      color: var(--white);
      font-family: var(--font-visby-cf);
      font-size: desktop-vw(16px);
      font-weight: 600;
      margin-bottom: desktop-vw(20px);

      @include mobile {
        font-size: 5vw;
      }
    }

    > p {
      color: var(--palladium);
      font-family: var(--font-visby-cf);
      font-size: desktop-vw(16px);
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: desktop-vw(50px);

      @include mobile {
        text-align: center;
        font-size: 15px;
        line-height: 36px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;

        br {
          display: none;
        }
      }
    }
  }

  .btn {
    @include dims(desktop-vw(170px), desktop-vw(35px));
    border-radius: desktop-vw(28px);
    border: 1px solid var(--palladium);
    color: var(--white);

    @include hover {
      &:hover {
        background-color: var(--isotonic-water);
        border: 1px solid var(--isotonic-water);
        color: var(--black);
      }
    }

    > span {
      font-family: var(--font-visby-cf);
      font-weight: 500;
      font-size: desktop-vw(16px);
      white-space: nowrap;
      text-align: center;
      transform: translateY(0.1ch);

      @include mobile {
        font-size: mobile-vw(16px);
      }
    }
  }

  .btnGetDirection {
    padding: desktop-vw(4px) desltop-vw(12px);

    @include hover {
      &:hover {
        .iconC {
          transform: rotate(45deg);
        }
      }
    }

    > span {
      color: var(--white);
      font-family: var(--font-visby-cf);
      font-size: desktop-vw(14px);
      font-weight: 500;
      transform: translateY(0.1ch);
      white-space: nowrap;
    }

    .iconC {
      @include dims(desktop-vw(12px));
    }
  }
}

.subscribeSuccess {
  @include dims(40vw, 35vw);
  background: var(--bleached-silk);
  border: 10px solid var(--isotonic-water);
  border-radius: desktop-vw(32px);
  margin-top: 10vw;
  padding: 0 6vw 1vw 6vw;
  position: relative;

  @include mobile {
    @include dims(90vw, auto);
    border: 3px solid var(--isotonic-water);
    padding: 0 0 4vw 0;
  }

  .welcomeAboard {
    @include dims(22vw, auto);
    margin-bottom: -5.5vw;
    z-index: 10;

    @include mobile {
      @include dims(50vw, auto);
      margin-bottom: -15vw;
    }
  }

  .title {
    color: var(--black);
    font-family: var(--font-vanguard-cf);
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 1vw;
    text-align: center;

    @include mobile {
      font-size: 10vw;
      margin-bottom: 4vw;
    }
  }

  .text {
    color: var(--black);
    font-family: var(--font-visby-cf);
    font-weight: 500;
    font-size: 1.5vw;
    margin-bottom: 2vw;
    text-align: center;

    @include mobile {
      font-size: 3.5vw;
      margin-bottom: 6vw;
    }
  }

  .doneButton {
    border: 1px solid #000;
    border-radius: 32px;
    color: var(--black);
    font-family: VanguardCF-Medium;
    font-size: 2.25vw;
    padding: 0.25rem 6rem 0.5rem 6rem;

    @include mobile {
      font-size: 7vw;
      padding: 0.15rem 4rem 0.25rem 4rem;
    }
  }
}

.copyright {
  padding: desktop-vw(25px) desktop-vw(50px) desktop-vw(75px) desktop-vw(50px);
  padding-bottom: desktop-vw(75px);

  @include mobile {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 7vw;
    margin-bottom: 5vw;
  }

  .rights {
    color: var(--white);
    font-family: var(--font-visby-cf);
    font-size: desktop-vw(16px);
    font-weight: 400;

    @include mobile {
      font-size: 14px;
    }

    .year {
      margin-left: desktop-vw(6px);
    }
  }

  .legal {
    margin-left: auto;

    @include mobile {
      margin-bottom: 0;
      margin-left: 0;
    }

    .link {
      color: var(--white);
      font-family: var(--font-visby-cf);
      font-size: desktop-vw(16px);
      font-weight: 400;

      @include mobile {
        font-size: 1rem;
      }

      &:nth-child(1),
      &:nth-child(2) {
        text-decoration: underline;
        text-decoration-color: var(--white);
      }
    }
  }

  .social {
    margin-left: desktop-vw(150px);
    column-gap: desktop-vw(57px);

    .iconC {
      @include dims(auto, desktop-vw(32px));
    }
  }
}
