.intro {
  position: relative;

  @include mobile {
    margin: mobile-vw(30px) 0;
  }

  > h1 {
    @include dims(desktop-vw(800px), auto);
    color: var(--white);
    font-size: desktop-vw(144px);
    font-family: var(--font-vanguard-cf);
    font-weight: 900;

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(70px);
    }

    > span {
      &:nth-child(1) {
        text-align: left;

        @include mobile {
          text-align: center;
        }
      }

      &:nth-child(2) {
        text-align: right;
        transform: translateY(-1vw);

        @include mobile {
          transform: translateY(0);
          text-align: center;
        }
      }

      &:nth-child(3) {
        margin-left: desktop-vw(100px);
        transform: translateY(desktop-vw(-40px));

        @include mobile {
          margin-left: unset;
          transform: unset;
          text-align: center;
        }
      }
    }

    .italic {
      font-family: var(--font-ageya-oblique);
      font-weight: 100;
    }
  }

  .flyingTextC {
    @include dims(desktop-vw(750px), auto);
    margin-top: desktop-vw(150px);
    margin-right: desktop-vw(100px);

    @include mobile {
      @include dims(auto);
      margin-top: mobile-vw(150px);
      margin-right: unset;
    }

    > p {
      @include dims(desktop-vw(300px), auto);
      color: var(--white);
      font-family: var(--font-visby-cf);
      font-size: desktop-vw(16px);
      font-weight: 700;
      line-height: 2;

      @include mobile {
        @include dims(mobile-vw(300px), auto);
        font-size: mobile-vw(16px);
      }

      > span {
        display: block;
        margin-bottom: desktop-vw(20px);

        @include mobile {
          margin-bottom: mobile-vw(20px);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:nth-child(1) {
        max-width: desktop-vw(300px);

        @include mobile {
          max-width: unset;
          text-align: center;
        }
      }

      &:nth-child(2) {
        margin-top: desktop-vw(200px);
        max-width: desktop-vw(290px);

        @include mobile {
          margin-top: mobile-vw(50px);
          max-width: unset;
          text-align: center;
        }
      }

      .emoji {
        padding: 0 desktop-vw(8px);

        @include mobile {
          padding: 0 mobile-vw(8px);
        }
      }
    }
  }

  .verticalTextLeft {
    position: absolute;
    top: 18vw;
    left: 5vw;

    @include mobile {
      display: none;
    }
  }

  .verticalTextRight {
    @include position(absolute, desktop-vw(1000px), desktop-vw(50px), auto, auto);

    @include mobile {
      display: none;
    }

    > small {
      color: var(--white);
      font-family: var(--font-vanguard-cf);
      font-size: desktop-vw(40px);
      font-weight: 100;
      writing-mode: vertical-rl;
      white-space: nowrap;

      @include mobile {
        display: none;
        // font-size: 10vw;
      }
    }

    .iconC {
      @include dims(desktop-vw(28px), auto);

      @include mobile {
        width: 8vw;
        margin-top: 1rem;
      }
    }
  }

  .downArrowMobile {
    @include dims(mobile-vw(125px));
    margin-top: mobile-vw(50px);
  }

  .blob {
    @include position(absolute, desktop-vw(190px), 0, auto, auto);
    @include dims(desktop-vw(800px), auto);

    @include mobile {
      @include position(absolute, mobile-vw(125px), 0, auto, auto);
      @include dims(mobile-vw(410px), auto);
    }
  }

  .smile {
    @include position(absolute, desktop-vw(50px), desktop-vw(200px), auto, auto);
    @include dims(desktop-vw(200px), auto);

    @include mobile {
      @include position(absolute, mobile-vw(100px), mobile-vw(-30px), auto, auto);
      @include dims(mobile-vw(120px), auto);
      z-index: -1;
    }
  }

  .whatWeDo {
    @include dims(100%, auto);
    color: var(--white);
    padding-top: desktop-vw(200px);
    position: relative;

    @include mobile {
      padding-top: mobile-vw(100px);
    }

    h2 {
      font-size: desktop-vw(250px);
      font-family: var(--font-vanguard-cf);
      font-weight: 700;
      transform: translateY(desktop-vw(100px));

      @include mobile {
        font-size: mobile-vw(120px);
        line-height: 0.9;
        transform: translateY(mobile-vw(100px));
      }
    }
  }
}

.services {
  background: var(--white);
  border-radius: desktop-vw(64px);
  position: relative;

  @include mobile {
    border-radius: mobile-vw(32px);
  }

  &:before {
    content: "";
    @include position(absolute, 0, 0, auto, 0);
    @include dims(100%, desktop-vw(350px));
    background: linear-gradient(0deg, var(--black), var(--black-transparent));
    transform: translateY(-100%);
  }

  .items {
    margin: desktop-vw(100px) auto;
    position: relative;

    @include mobile {
      margin: mobile-vw(50px) auto;
    }

    &:before {
      content: "";
      @include position(absolute, 50%, auto, auto, 50%);
      @include dims(50%, 90%);
      background-color: var(--black);
      transform: translate(-50%, -50%);
      z-index: 0;

      @include mobile {
        display: none;
      }
    }
  }

  .fieldCard {
    @include dims(desktop-vw(570px), desktop-vw(450px));
    background: var(--white);
    border-radius: desktop-vw(48px);
    padding: desktop-vw(20px);
    z-index: 100;

    @include mobile {
      @include dims(100%, auto);
      border-radius: mobile-vw(48px);
      padding: mobile-vw(8px);
    }

    .inner {
      @include dims(100%);
      background: var(--white);
      border-radius: desktop-vw(48px);
      border: 2px solid var(--black);
      padding: desktop-vw(32px);
      position: relative;

      @include mobile {
        border-radius: mobile-vw(32px);
        padding: mobile-vw(50px) mobile-vw(20px);
      }

      @include hover {
        &:hover {
          background: var(--black);

          h5 {
            color: var(--white);
          }

          .seeAllWorks {
            visibility: visible;
            margin-top: auto;
            opacity: 1;
          }

          p {
            visibility: hidden;
          }
        }
      }
    }

    .index {
      color: #000000;
      font-family: var(--font-vanguard-cf);
      font-weight: 400;
      font-size: 1.8vw;
      line-height: 100%;
      margin-bottom: 0.5vw;
      text-align: left;

      @include mobile {
        font-size: 7vw;
        margin-bottom: 5vw;
      }
    }

    .title {
      color: #000000;
      font-family: VanguardCF-Bold;
      font-size: 4.5vw;
      line-height: 100%;
      text-align: left;

      @include mobile {
        font-size: 15vw;
      }
    }

    .description {
      color: #000000;
      font-family: VisbyCF-Medium;
      font-size: 1.1vw;
      line-height: 200%;
      margin-top: 2vw;
      text-align: left;

      @include mobile {
        font-size: 4.75vw;
        margin-top: 5vw;
      }
    }

    .seeAllWorks {
      @include position(absolute, auto, auto, desktop-vw(32px), desktop-vw(32px));

      font-family: var(--font-vanguard-cf);
      font-weight: 900;
      color: var(--white);
      font-size: desktop-vw(87px);

      visibility: visible;
      opacity: 0;

      transition: 0.3s all ease;

      @include mobile {
        font-size: 15vw;
        margin-top: 10vw;
      }
    }

    .pin {
      @include position(absolute, 95%, auto, auto, -11%);
      @include dims(14%, auto);

      @include mobile {
        display: none;
      }
    }
  }
}

.awards {
  margin-bottom: desktop-vw(100px);
  padding: desktop-vw(100px);

  @include mobile {
    padding: 15vh 5vw 5vh 5vw;
  }

  > h3 {
    color: var(--white);
    font-size: desktop-vw(250px);
    font-family: var(--font-vanguard-cf);
    font-weight: 700;
    margin-bottom: desktop-vw(100px);
    text-align: left;

    @include mobile {
      font-size: 25vw;
      margin-bottom: 10vh;
      text-align: center;
    }
  }

  .row {
    display: grid;
    grid-template-columns: 25vw 1fr 5vw;

    @include mobile {
      grid-template-columns: auto;
      grid-template-rows: auto 1fr;
    }

    &.title {
      border-bottom: 1px solid var(--white);
      padding: 1rem 0;

      @include mobile {
        border-bottom: none;
      }
    }

    &.item {
      border-bottom: 1px solid #ffffff41;
      padding: 3rem 0;
      position: relative;

      @include mobile {
        border-bottom: none;
        padding: 1rem 0;
      }
    }

    .text,
    .link {
      color: var(--white);
      cursor: pointer;
      display: inline-block;
      font-family: VisbyCF-Medium;
      font-size: 1vw;
      line-height: 100%;
      text-align: left;

      @include mobile {
        font-size: 3vw;

        &:nth-child(1) {
          opacity: 0.4;
          margin-bottom: 2vh;
        }

        &:nth-child(2) {
          font-size: 4vw;
          margin-bottom: 3vh;
        }
      }
    }
  }

  .trophy {
    height: 4vw;
    width: 2.75vw;
    object-fit: contain;

    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-150%);
  }

  .table {
    padding-left: 13vw;
    padding-right: 10vw;

    @include mobile {
      display: none;
    }
  }

  .tableMobile {
    border-bottom: 1px solid #ffffff41;
    display: none;
    position: relative;

    @include mobile {
      display: block;
    }

    .pentawardsLogo {
      position: absolute;
      right: 2.5vw;
      bottom: 6vw;
      width: 12vw;
      transform: rotate(-20deg);
    }
  }
}

.references {
  @include dims(100vw, auto);
  position: relative;
  overflow: hidden;

  > h3 {
    @include dims(desktop-vw(800px), auto);
    color: var(--white);
    font-family: var(--font-vanguard-cf);
    font-size: desktop-vw(150px);
    font-weight: 700;
    margin-bottom: desktop-vw(200px);

    @include mobile {
      @include dims(auto);
      font-size: mobile-vw(80px);
      margin: 0 mobile-vw(20px);
      margin-bottom: mobile-vw(50px);
      order: 2;
    }

    small {
      font-size: desktop-vw(64px);

      @include mobile {
        font-size: mobile-vw(45px);
      }
    }

    .italic {
      font-family: var(--font-ageya-oblique);
      font-weight: 100;
      text-align: right;
    }
  }

  .imgC {
    &.referencesSun {
      @include position(absolute, desktop-vw(200px), auto, auto, desktop-vw(100px));
      @include dims(desktop-vw(300px));

      @include mobile {
        @include position(relative, unset, unset, unset, unset);
        @include dims(mobile-vw(270px));
        margin-bottom: mobile-vw(50px);
        order: 1;
      }
    }

    &.companies {
      @include dims(desktop-vw(900px), auto);
      transform: translateX(desktop-vw(100px));
      flex-shrink: 0;

      @include mobile {
        @include dims(95%, auto);
        order: 3;
        transform: unset;
      }
    }
  }

  .companiesMobile {
    flex-wrap: wrap;
    gap: 4vw;
    margin-top: 8vw;
    display: none;

    .logoWrapper {
      @include dims(30vw, 15vw);

      border: 1px solid var(--white) 46;
      border-radius: 10px;
      margin-bottom: 4vw;

      @include mobile {
        @include dims(40vw, 20vw);
      }
    }
  }
}

.preTeam {
  @include dims(100%, desktop-vw(700px));
  overflow: hidden;
  position: relative;

  @include mobile {
    @include dims(100%, auto);
  }

  .marqueeC {
    width: 120vw;

    &.white {
      position: relative;
      transform: rotate(9deg) translateX(-10vw) translateY(15vw);
      z-index: 10;

      @include mobile {
        transform: rotate(9deg) translateY(20vw);
      }
    }

    &.gray {
      position: relative;
      transform: rotate(-6deg) translateX(-10vw);
      z-index: 5;

      h3 {
        span {
          color: #101010;
        }
      }
    }

    h3 {
      span {
        color: var(--white);
        font-family: var(--font-vanguard-cf);
        font-weight: 700;
        font-size: 12vw;
        line-height: 100%;
        white-space: nowrap;
        display: inline-block;

        @include mobile {
          font-size: 25vw;
        }

        .inlineO {
          font-family: var(--font-ageya-oblique);
          font-weight: 100;
          margin-left: desktop-vw(-40px);
          margin-right: 0;
        }
      }

      .rightMargin {
        margin-right: 2.5rem;
      }
    }
  }

  .eyeC {
    @include position(absolute, desktop-vw(400px), auto, auto, desktop-vw(300px));
    transform: translateZ(100px);
    z-index: 1000;

    @include mobile {
      @include position(relative, auto, auto, auto, auto);
    }

    .imgC {
      @include dims(desktop-vw(160px), auto);
      margin-bottom: desktop-vw(16px);

      @include mobile {
        @include dims(mobile-vw(160px), auto);
        margin-bottom: mobile-vw(16px);
      }
    }

    > small {
      @include dims(100%, auto);
      color: var(--white);
      font-size: desktop-vw(32px);
      font-family: var(--font-vanguard-cf);
      text-align: center;

      @include mobile {
        font-size: 10vw;
      }
    }
  }

  .rocketWrapper {
    position: absolute;
    top: 24vw;
    left: 60vw;
    z-index: 100;
    padding: 1rem;
    transform: translateZ(100px);

    @include mobile {
      display: none;
    }

    .rocket {
      @include mobile {
        width: 3vw;
      }
    }
  }

  .bombWrapper {
    position: absolute;
    top: 5vw;
    left: 40vw;
    z-index: 7;

    @include mobile {
      display: none;
    }

    .bomb {
      @include mobile {
        width: 3vw;
      }
    }
  }
}
