.revealC {
  position: relative;
  will-change: transform;
  z-index: z-index("footer");

  .overlay {
    @include position(absolute, 0, 0, 0, 0);
    @include dims(100%);
    background: #000000;
    pointer-events: none;
    z-index: z-index("footer-overlay");
  }
}
