// VanguardCF
@font-face {
  font-family: "VanguardCF";
  src: url("/fonts/VanguardCF-ExtraBold.woff") format("woff"), url("/fonts/VanguardCF-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "VanguardCF";
  src: url("/fonts/VanguardCF-Bold.woff") format("woff"), url("/fonts/VanguardCF-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "VanguardCF";
  src: url("/fonts/VanguardCF-Medium.woff2") format("woff2"), url("/fonts/VanguardCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "VanguardCF";
  src: url("/fonts/VanguardCF-Regular.woff2") format("woff2"), url("/fonts/VanguardCF-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "VanguardCF";
  src: url("/fonts/VanguardCF-Light.woff2") format("woff2"), url("/fonts/VanguardCF-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

// VisbyCF
@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF-DemiBold.woff2") format("woff2"), url("/fonts/VisbyCF-DemiBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF-Medium.woff2") format("woff2"), url("/fonts/VisbyCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF-Regular.woff2") format("woff2"), url("/fonts/VisbyCF-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF-Light.woff2") format("woff2"), url("/fonts/VisbyCF-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "VisbyCF";
  src: url("/fonts/VisbyCF-Thin.woff2") format("woff2"), url("/fonts/VisbyCF-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

//Ageya Oblique
@font-face {
  font-family: "AgeyaOblique";
  src: url("/fonts/Ageya-Oblique.woff2") format("woff2"), url("/fonts/Ageya-Oblique.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

// Atyp Display Retouch
@font-face {
  font-family: "AtypDisplay";
  src: url("/fonts/AtypDisplayRetouchMedium.woff2") format("woff2"),
    url("/fonts/AtypDisplayRetouchMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "AtypDisplay";
  src: url("/fonts/AtypDisplayRetouchRegular.woff2") format("woff2"),
    url("/fonts/AtypDisplayRetouchRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF; /* Latin glyphs */
}
