.aspect-ratio {
  position: relative;
  padding-bottom: calc(100% / var(--aspect-ratio));
  width: 100%;
  height: 0;

  > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hidden-overflow {
  overflow: hidden;
}

.pointer-none {
  pointer-events: none;
}

.relative {
  position: relative;
}

.hide-on-desktop {
  @include desktop {
    display: none;
  }
}

.hide-on-mobile {
  @include mobile {
    display: none;
  }
}

.lazy {
  opacity: 0;
  transition: 0.4s all ease;

  &.loaded {
    opacity: 1;
  }
}

.cursor-pointer {
  cursor: pointer;

  * {
    cursor: pointer;
  }
}

.cursor-hidden {
  cursor: none;

  * {
    cursor: none;
  }
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-center-y {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html:not(.has-scroll-smooth) {
  .hide-on-native-scroll {
    display: none;
  }
}

html.has-scroll-smooth {
  .hide-on-smooth-scroll {
    display: none;
  }
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: none !important;
  }
}

.italic {
  font-style: italic;
}

.absolute-center {
  @include position(absolute, 50%, auto, auto, 50%);
  transform: translate(-50%, -50%);
}

.remove-autofill-styles {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;
    transition: background-color 5000s ease-in-out 0s;
  }
}
