.defaultLayout {
  background-color: var(--theme-primary);
  overflow: hidden;
  padding-top: var(--header-height);
  transition: 400ms background-color var(--ease-in-out-circ);

  .main {
    position: relative;
    z-index: z-index("main");
  }
}
