.scrollToTopC {
  @include dims(desktop-vw(150px));
  transition: 200ms all ease;

  @include mobile {
    // @include position(absolute, mobile-vw(10px), mobile-vw(10px), auto, auto);
    // @include dims(mobile-vw(80px));
    // transform: rotate(9deg);
    display: none;
  }

  .eye,
  .mouth {
    transition: 300ms transform ease;
  }

  @include hover {
    &:hover {
      transform: translateY(desktop-vw(-10px));

      .eye {
        transform: translateY(desktop-vw(-8px));
      }

      .mouth {
        transform: translateY(desktop-vw(-12px));
      }
    }
  }
}
